<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DictionaryEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DictionaryEditor.Properties.Settings>
            <setting name="AzureTTSKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureTTSRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureTranslateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureTranslateRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="DailyNewsPublishRepository" serializeAs="String">
                <value />
            </setting>
            <setting name="DailyNewsArchiveRepository" serializeAs="String">
                <value />
            </setting>
        </DictionaryEditor.Properties.Settings>
    </userSettings>
</configuration>